'.source.coursescript':
  'Presentation Video':
    'prefix': 'prevideo'
    'body': """
      [TYPE Pre]
      Video: $1
      VideoClip: $2
      VideoClip: $3
    """
  'Presentation Audio':
    'prefix': 'preaudio'
    'body': """
      [TYPE Pre]
      DF$1: $2
      Pic: $3
      Audio: $4
      Animation:
      Pic(effect=${5:fadeIn},time=$6): $7
    """
  'Presentation Reading':
    'prefix': 'prereading'
    'body': """
      [TYPE Pre]
      Title: $1
      Pic: $2
      Text: $3
    """
  'Open Question':
    'prefix': 'openquestion'
    'body': """
      [TYPE OpenQuestion]
      Pic: $1
      Audio: $2
    """
  'SentenceFragments':
    'prefix': 'sentf'
    'body': """
      [TYPE SentenceFragments]
      TR_Text: $1
      Text: $2
      Text: $3
      Text: $4
      Text: $5
    """
  'SpotErrors':
    'prefix': 'spote'
    'body': """
      [TYPE SpotErrors]
      Text: $1
    """
  'Locating':
    'prefix': 'locating'
    'body': """
      [TYPE Locating]
      Audio: $1
    """
  'Cloze':
    'prefix': 'cloze'
    'body': """
      [TYPE Cloze]
      // The first word in {{increases/changes/reductions/estimations}} is the correct answer.
      Audio: $1
      Audio: $2
    """
  'Dictation':
    'prefix': 'dictation'
    'body': """
      [TYPE Dictation]
      // example: Scientists tell us that {{what we see in the universe}} is only a small part of what is there.
      Audio: $1
    """
  'MCQ5':
    'prefix': 'mcq5'
    'body': """
      [TYPE MCQ5][${1:true}]
      Audio: $2
      Pic: $3
    """
  'MCQ5a':
    'prefix': 'mcq5a'
    'body': """
      [TYPE MCQ5a][${1:true}]
      Audio(question=true): $2
      Audio(matching=true): $3
    """
  'Sequencing':
    'prefix': 'seq'
    'body': """
      [TYPE Sequencing]
      Audio: $1
      Audio: $2
      Audio: $3
    """
  'RP':
    'prefix': 'rp'
    'body': """
      [TYPE RP]
      Pic(role=$1): $1
      Pic(role=$2): $2
      Audio(role=$1): $3
      Audio(role=$2): $4
      Audio(role=$1): $5
      Audio(role=$2): $6
      Audio(role=$1): $7
    """
  'OR':
    'prefix': 'or'
    'body': """
      [TYPE OR]
      Pic: $1
      Audio: $2
      TR: $3
    """
  'SR':
    'prefix': 'sr'
    'body': """
      [TYPE SR]
      Pic: $1
      Audio: $2
      TR: $3
    """
  'C&D':
    'prefix': 'cnd'
    'body': """
      [TYPE C&D]
      // {{late/early/often}}默认第一个是正确答案
      Pic: $1
      Text: $2
      TR: $3
    """
  'MCQ6':
    'prefix': 'mcq6'
    'body': """
      [TYPE MCQ6]
      Audio: $1
      Pic: $2
      Opts:
        Audio: $3
        Audio(checked=true): $4
        Audio: $5
      TR: $6
    """
  'MCQ1':
    'prefix': 'mcq1'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ2':
    'prefix': 'mcq2'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ3':
    'prefix': 'mcq3'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ1a':
    'prefix': 'mcq1a'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ2a':
    'prefix': 'mcq2a'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ4a':
    'prefix': 'mcq4a'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ7':
    'prefix': 'mcq7'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCP1':
    'prefix': 'mcp1'
    'body': """
      [TYPE MCP1]
      Audio: $1
      Opts:
        Text: $2
        Text: $3
        Pic(checked=true): $4
      TR: $5
    """
  'MCP2':
    'prefix': 'mcp2'
    'body': """
      [TYPE MCP1]
      Audio: $1
      Opts:
        Text: $2
        Text: $3
        Pic(checked=true): $4
      TR: $5
    """
  'MCP3':
    'prefix': 'mcp3'
    'body': """
      [TYPE MCP1]
      Audio: $1
      Opts:
        Text: $2
        Text: $3
        Pic(checked=true): $4
      TR: $5
    """
  'sandwich':
    'prefix': 'sandwich'
    'body': """
      = Sandwich 1
      \"\"\"
      knowledge point: []
      dimension:
      band:
      level:
        -
      topic:
        -
      welcome:
        greeting:
        knowledge_outline:
      summary:
        - title:
          sub_title:
        - title:
          sub_title:
      \"\"\"

      == Pre-test 1

      == Activities 1

      == Post-test 1

    """
  'AnswerQuestion':
    'prefix': 'answerquestion'
    'body': """
      [TYPE AnswerQuestion]
      Text: $1 // question
    """
  'ParagraphReading':
    'prefix': 'paragraphreading'
    'body': """
      [TYPE ParagraphReading]
      Text: $1 // question
      Audio(id=$2): $3 // question
      Text: $4 // answer
      Audio(id=$5): $6 // answer
    """
  'WordRepeat':
    'prefix': 'wordrepeat'
    'body': """
      [TYPE WordRepeat]
      Pic(id=$1): $2
      Audio(id=$3): $4
      Text: $5
      Text: $6
    """
  'SentenceWordHunt':
    'prefix': 'sentencewordhunt'
    'body': """
      [TYPE SentenceWordHunt]
      Audio(id=$1): $2
      Text: $3
      Text: $4
      Audio(id=$5): $6
    """
  'Classification':
    'prefix': 'classification'
    'body': """
      [TYPE Classification]
      Text(cate=$1): $2 // text with catagory
      Audio(id=x.mp3): cheap
    """
  'ParagraphCompletion':
    'prefix': 'paragraphcompletion',
    'body': """
      [TYPE ParagraphCompletion]
      Text: $1 // 请根据 {{}} 填空
      Text: $2 // I {{dislike}} (like) you
      Audio(id=x.mp3): $3
    """
  'Bubbles':
    'prefix': 'bubbles',
    'body': """
      [TYPE Bubbles]
      Text: $1 // instruction, {{}} for highlight
      Text: $2 // correct options, e.g. but,therefore
      Text: $3 // wrong options
    """
  'SentenceReading':
    'prefix': 'sentencereading',
    'body': """
      [TYPE SentenceReading]
      Text: $1 // sentence, {{}} for highlight
      Audio(id=x.mp3): $2
    """
  'SentenceCompletion':
    'prefix': 'sentencecompletion',
    'body': """
      [TYPE SentenceCompletion]
      Pic(id=x.mp3): $1
      Text: $2
      Text: $3
      Audio(id=x.mp3): $4
    """
  'SentenceRephrase':
    'prefix': 'sentencerephrase',
    'body': """
      [TYPE SentenceRephrase]
      Text: $1 // 题干
      Text: $2 // 复合句，空用 {{}} 包住，高亮词用 ()
      Audio(id=x.mp3): $3 // 复合句录音
      Text: $4 // 简单句
      Audio(id=x.mp3): $5 // 简单句录音
    """
  'ChooseAndRead':
    'prefix': 'chooseandread',
    'body': """
      [TYPE ChooseAndRead]
      Text: $1 // instruction
      Text: $2 // question 完整的句子，将答案用 {{}} 包住
      Audio(id=x.mp3): $3
      Text: $4 // 错误选项
      Text: $5 // 错误选项
    """
  'WordHuntWithHint':
    'prefix': 'wordhuntwithhint',
    'body': """
      [TYPE WordHuntWithHint]
      Text: $1 // question
      Text: $2 // answers, e.g. active,energetic
      Audio(id=x.mp3): $3
      Audio(id=x.mp3): $4
    """
  'SayTheWord':
    'prefix': 'saytheword',
    'body': """
      [TYPE SayTheWord]
      Text: $1 // 单词
      Text: $2 // 单词要求的变换 e.g. 过去分词
      Audio(id=x.mp3): $3
      Audio(id=x.mp3): $4
    """
